#-- Common
# Generate with: openssl rand -hex 32
BURROW_SECRET=

#-- Server
BURROW_DOMAIN=inkspire.one
BURROW_PORT=25701

#-- Client (burrowctl)
BURROW_SERVER=inkspire.one

#-- Database (redis)
BURROW_REDIS_URL=redis://redis:6379
