#-- Common
BURROW_TLS=false
BURROW_SECRET=# Generate with: openssl rand -hex 32

#-- Server
BURROW_DOMAIN=localhost
BURROW_PORT=25701

#-- Database (redis)
BURROW_REDIS_URL=

#-- Client (burrowctl)
BURROW_SERVER=localhost
